*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#nav_1{
    width: 100%;
    height: 60px;
    background-color: black;
}

#nav_2{
display: flex;
align-items: center;
justify-content: space-around;
}

#nav__2 h1{
    margin-left: 600px;
    color: white;
}

#nav__3 i{
    margin-left: 20px;
    color: white;
}

#nav__3{
    margin-left: 400px;
}

#nav__1 i{
    color: white;
}


#rasm img{
    width: 100%;
}

#cars__photo h1{
    margin-top: 20px;
    text-align: center;
}

#cars__texts{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cars__texts p{
    margin-left: 30px;
}


#kia__text{
    text-align: center;
}

#kia__texts{
    display: flex;
    justify-content: center;
    text-align: center;
}

#kia__texts p{
    margin-left: 20px;
}

#box{
    display: flex;
    margin-left: 70px;
    width: 1200px;
    height: 500px;
    justify-content: space-between;
}
#box__1{
    border-radius: 30px;
    border: 1px solid gray;
    width: 350px;
    transition: 1s;
    height: 500px;
    background-color: rgb(214, 214, 214);
}

#box__2{
    border-radius: 30px;
    border: 1px solid gray;
    width: 350px;
    height: 500px;
    transition: 1s;
    background-color: rgb(214, 214, 214);
}

#box__3{
    border-radius: 30px;
    border: 1px solid gray;
    transition: 1s;
    width: 350px;
    height: 500px;
    background-color: rgb(214, 214, 214);
}

#box__1 img{
    width: 350px;
}

#box__2 img{
    width: 350px;
}

#box__3 img{
    width: 350px;
}

#box__1 button{
    background-color: grey;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

#box__1 button:hover{
    background-color: rgb(235, 235, 235);
    color: black;
}

#box__2 button:hover{
    background-color: rgb(235, 235, 235);
    color: black;
}

#box__3 button:hover{
    background-color: rgb(236, 235, 235);
    color: black;
}

#box__2 button{
    background-color: grey;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

#box__3 button{
    background-color: grey;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

#box__1:hover{
    background-color: white;
    transition: 1s;
}

#box__2:hover{
    background-color: white;
    transition: 1s;
}

#box__3:hover{
    background-color: white;
    transition: 1s;
}

#uch_rasm{
    display: flex;
    color: whitesmoke;
}

#birinchi{
    background: url("https://cdn.kia.ru/resize/1440x810/media-data/banners/marketplace/landing/media_content/spares_and_accessories_768x560.png") no-repeat center/cover;
    width: 36%;
    height: 60vh;
}

#ikkinchi{
    background: url("https://cdn.kia.ru/resize/1440x810/media-data/banners/marketplace/landing/media_content/online_TO_768x560.png") no-repeat center/cover;
    width: 36%;
    height: 60vh;
}

#uchinchi{
    background: url("https://cdn.kia.ru/resize/1440x810/media-data/banners/marketplace/landing/media_content/trade_in_768x560.png") no-repeat center/cover;
    width: 36%;
    height: 60vh;
}

#yozuv{
    text-align: center;
}

#bir{
    margin-top: 220px;
}

#btn{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

#katta{
    display: flex;
    justify-content: center;
    align-items: center;
}

#qator1{
    width: 400px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
}

#rasm1{
    margin-top: 20px;
    margin-left: 17px;
    border-radius: 10px;
    width: 360px;
    height: 200px;
    background: url("https://cdn.kia.ru/resize/1440x810/media-data/banners/main_service_content/service_banner_service_request/service_banner_service_request_desktop.jpg")no-repeat center/cover;
}

#qator2{
    width: 400px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
}

#rasm2{
    margin-top: 20px;
    margin-left: 17px;
    border-radius: 10px;
    width: 360px;
    height: 200px;
    background: url("https://cdn.kia.ru/resize/1440x810/media-data/banners/main_service_content/service_banner_calculator_to/service_banner_calculator_to_desktop.jpg")no-repeat center/cover;
}

#qator3{
    width: 400px;
    height: 450px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
}

#rasm3{
    margin-top: 20px;
    margin-left: 17px;
    border-radius: 10px;
    width: 360px;
    height: 200px;
    background: url("https://cdn.kia.ru/resize/1440x810/media-data/banners/main_service_content/service_banner_roadside_assistance/service_banner_roadside_assistance.png")no-repeat center/cover;   
}

#btn1{
    border-radius: 10px;
    height: 40px;
    width: 200px;
    color: white;
    border: none;
    background-color: black;
}


#btn2{
    border-radius: 10px;
    height: 40px;
    width: 200px;
    color: white;
    background-color: black;
    border: none;
}


#btn3{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    color: white;
    background-color: black;
}

#end1{
    background-color: rgb(14, 12, 34);
    width: 100%;
    height: 90vh;
    color: white;
}

#end2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ki{
    margin-left: 280px;
}

#joy2{
    margin-left: 40px;
}

#joy3{
    margin-left: 40px;
}

#joy4{
    margin-left: 40px;
}

#end3{

    width: 800px;
    margin-left: 280px;
}